<div class="row">
  <div class="col-xs-12">
    <img [src]="recipe.imgPath" alt="{{recipe.name}}" class="img-responsive">
  </div>
</div>

<div class="row">
    <div class="col-xs-12">
      <h1>{{recipe.name}}</h1>
    </div>
  </div>

   <div class="row">
      <div class="col-xs-9">
          <p>{{recipe.description}}</p>
      </div>
      <div class="col-xs-3"> 
        <div class="btn-group"  appDropdown>
                <button class="dropdown-toggle btn btn-primary" >
                  Manage <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" >
                    <li><a class="dropdown-item" href="#" (click)="addIngridents()">To Shopping List</a></li>
                    <li><a class="dropdown-item" href="#">Edit Recipe</a></li>
                    <li><a class="dropdown-item" href="#">Delete Recipe</a></li>
                </ul>
          </div>
    </div>
    
    </div> 

    <br/>
      <!-- <button (click)="loadData()" name="Load Data">Load</button> -->
      <div class="row">
          <div class="col-xs-12">
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let i of recipe.ingridents">
                {{i.name}} - {{i.amount}}
              </li>
            </ul>
          </div>
        </div>