/* You can add global styles to this file, and also import other style files */


.navbar-nav .nav-link {
    padding-right: 010px !important;
    padding-left: 010px !important;
}

.btn
{
 margin-left: 10px;
}