<div class="row">
  <form >
    <div class="row">
      <div class="col-sm-5  form-group">
          <label for="item">Name</label>
          <input type="text" class="form-control" id="item" placeholder="Item" #itemName>
        </div>

        <div class="col-sm-3  form-group">
            <label for="qty">Quantity</label>
            <input type="number" class="form-control" id="qty" placeholder="0" #itemQty>
          </div>
          
    </div>

    <div class="row">
      <div class="col-xl-12">
        <button type="submit" class="btn btn-success" (click)="addItem(itemName.value,itemQty.value)"> Add </button>
        <button type="button" class="btn btn-danger"> Cancel </button>
        <button type="reset" class="btn btn-primary"> Clear </button>      
      </div>
    </div>
    

  </form>
</div>